## AirBnB Estadisticas Madrid

In [66]:
## load packages
import numpy as np
import pandas as pd
import geopandas as gpd
import os

In [67]:
## load data
# folder
folder = "/Users/annakober/Desktop/Uni/Master/Erasmus/Programmación/trabajo_final_airbnb/data"

# read csv
listings = pd.read_csv(os.path.join(folder,"listings.csv"), sep = ",")
reviews = pd.read_csv(os.path.join(folder,"reviews.csv"), sep = ",")
neighbourhoods = pd.read_csv(os.path.join(folder,"neighbourhoods.csv"), sep = ",")

# read geojson nof barrios
barrios = gpd.read_file(os.path.join(folder,"neighbourhoods.geojson"))

In [68]:
# join listing and review
reviews = reviews.rename(columns={'listing_id': 'id'})
listing_full = listings.merge(reviews, how='left', on="id")
listing_full.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,date
0,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,4,33,2018-07-15,0.25,2,198,0,NaN,2014-10-10
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,4,33,2018-07-15,0.25,2,198,0,NaN,2014-10-13
2,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,4,33,2018-07-15,0.25,2,198,0,NaN,2014-11-09
3,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,4,33,2018-07-15,0.25,2,198,0,NaN,2014-11-11
4,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,4,33,2018-07-15,0.25,2,198,0,NaN,2014-11-16

In [69]:
# calculate density of listings per neighbourhood
# set crs to EPSG:4326 - WGS 84
barrios = barrios.to_crs(epsg=4326)
barrios['area_km2'] = barrios['geometry'].to_crs(epsg=3857).area / 10**6 # crs must be planar (see documentation geopandas)
barrios.head()

,neighbourhood,neighbourhood_group,geometry,area_km2
0,Palacio,Centro,"MULTIPOLYGON (((-3.70593 40.42029, -3.70634 40...",2.542264
1,Embajadores,Centro,"MULTIPOLYGON (((-3.70393 40.41431, -3.70286 40...",1.785424
2,Cortes,Centro,"MULTIPOLYGON (((-3.69805 40.41928, -3.69654 40...",1.023214
3,Justicia,Centro,"MULTIPOLYGON (((-3.69555 40.41897, -3.69654 40...",1.282770
4,Universidad,Centro,"MULTIPOLYGON (((-3.70117 40.42133, -3.70164 40...",1.638250

In [70]:
# unir data por barrio
airbnb_full = listing_full.merge(barrios, how='left', on="neighbourhood")
airbnb_full.head()

,id,name,host_id,host_name,neighbourhood_group_x,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,date,neighbourhood_group_y,geometry,area_km2
0,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,...,2018-07-15,0.25,2,198,0,NaN,2014-10-10,Latina,"MULTIPOLYGON (((-3.72265 40.40583, -3.72274 40...",2.23188
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,...,2018-07-15,0.25,2,198,0,NaN,2014-10-13,Latina,"MULTIPOLYGON (((-3.72265 40.40583, -3.72274 40...",2.23188
2,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,...,2018-07-15,0.25,2,198,0,NaN,2014-11-09,Latina,"MULTIPOLYGON (((-3.72265 40.40583, -3.72274 40...",2.23188
3,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,...,2018-07-15,0.25,2,198,0,NaN,2014-11-11,Latina,"MULTIPOLYGON (((-3.72265 40.40583, -3.72274 40...",2.23188
4,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.7413,Private room,NaN,...,2018-07-15,0.25,2,198,0,NaN,2014-11-16,Latina,"MULTIPOLYGON (((-3.72265 40.40583, -3.72274 40...",2.23188

In [71]:
airbnb_full.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group_x',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'date',
       'neighbourhood_group_y', 'geometry', 'area_km2'],
      dtype='object')

In [74]:
# group by neighbourhood and calculate statistics
stats = airbnb_full.groupby('neighbourhood').agg({
    'price': ['mean', 'median', 'min', 'max'],
    'id': 'count',
    'license': lambda x: x.notna().sum(),
    'minimum_nights': ['mean', 'median'],
    'room_type': lambda x: x.mode()[0],
    'number_of_reviews': 'sum',
    'area_km2': 'first'
}).reset_index()

In [75]:
stats

    neighbourhood       price                          id  license  \
                         mean median   min     max  count <lambda>
0        Abrantes   46.080777   40.0  20.0   140.0   1134      266
1         Acacias  109.823529   99.0  29.0  1050.0  12264     7639
2         Adelfas  100.991585  104.0  23.0   480.0   3309     2263
3      Aeropuerto   39.511076   40.0  32.0   300.0   1305      881
4         Aguilas   64.195876   35.0  20.0   322.0    914      441
..            ...         ...    ...   ...     ...    ...      ...
123      Valverde   76.772743   73.0  25.0   600.0   3048     1297
124        Ventas  126.012533   77.0  21.0  4950.0   9797     3068
125     Vinateros   66.635258   91.0  14.0    97.0    485      138
126  Vista Alegre   67.399000   63.0  15.0   800.0   5511     1015
127         Zofío   76.000000   67.0  20.0   128.0    730      142

    minimum_nights               room_type number_of_reviews   area_km2
              mean median         <lambda>               sum      first
0         2.842152    1.0     Private room             76541   2.700962
1         4.237361    2.0  Entire home/apt           2247135   1.855549
2         2.903294    2.0  Entire home/apt            394674   1.106989
3         1.035249    1.0      Shared room            554271  43.472554
4         2.586433    1.0     Private room             73825   6.231718
..             ...    ...              ...               ...        ...
123       4.813648    2.0  Entire home/apt            321586  15.553768
124       3.582117    2.0  Entire home/apt           1471035   5.528100
125       7.851546    3.0     Private room             30761   1.026194
126       6.898929    2.0  Entire home/apt            630851   2.743881
127       3.371233    2.0     Private room             41134   1.336232

[128 rows x 12 columns]

In [76]:
# add some ratio columns to stats
stats['perc_licensed'] = stats[('license', '<lambda>')] / stats[('id', 'count')] * 100
stats['avg_reviews_per_listing'] = stats[('number_of_reviews', 'sum')] / stats[('id', 'count')]
stats['density_listings_per_km2'] = stats[('id', 'count')] / stats[('area_km2', 'first')]
stats

    neighbourhood       price                          id  license  \
                         mean median   min     max  count <lambda>
0        Abrantes   46.080777   40.0  20.0   140.0   1134      266
1         Acacias  109.823529   99.0  29.0  1050.0  12264     7639
2         Adelfas  100.991585  104.0  23.0   480.0   3309     2263
3      Aeropuerto   39.511076   40.0  32.0   300.0   1305      881
4         Aguilas   64.195876   35.0  20.0   322.0    914      441
..            ...         ...    ...   ...     ...    ...      ...
123      Valverde   76.772743   73.0  25.0   600.0   3048     1297
124        Ventas  126.012533   77.0  21.0  4950.0   9797     3068
125     Vinateros   66.635258   91.0  14.0    97.0    485      138
126  Vista Alegre   67.399000   63.0  15.0   800.0   5511     1015
127         Zofío   76.000000   67.0  20.0   128.0    730      142

    minimum_nights               room_type number_of_reviews   area_km2  \
              mean median         <lambda>               sum      first
0         2.842152    1.0     Private room             76541   2.700962
1         4.237361    2.0  Entire home/apt           2247135   1.855549
2         2.903294    2.0  Entire home/apt            394674   1.106989
3         1.035249    1.0      Shared room            554271  43.472554
4         2.586433    1.0     Private room             73825   6.231718
..             ...    ...              ...               ...        ...
123       4.813648    2.0  Entire home/apt            321586  15.553768
124       3.582117    2.0  Entire home/apt           1471035   5.528100
125       7.851546    3.0     Private room             30761   1.026194
126       6.898929    2.0  Entire home/apt            630851   2.743881
127       3.371233    2.0     Private room             41134   1.336232

    perc_licensed avg_reviews_per_listing density_listings_per_km2

0       23.456790               67.496473               419.850360
1       62.287997              183.230186              6609.366199
2       68.389241              119.272892              2989.188418
3       67.509579              424.728736                30.018941
4       48.249453               80.771335               146.669024
..            ...                     ...                      ...
123     42.552493              105.507218               195.965381
124     31.315709              150.151577              1772.218304
125     28.453608               63.424742               472.620227
126     18.417710              114.471239              2008.468903
127     19.452055               56.347945               546.312202

[128 rows x 15 columns]

In [ ]:
# merge with barrios geodataframe to have geometry for plotting
# drop two level index
stats.columns = ['_'.join(col).strip() if col[1] else col[0] for col in stats.columns.values]   
stats

,neighbourhood,price_mean,price_median,price_min,price_max,id_count,license_<lambda>,minimum_nights_mean,minimum_nights_median,room_type_<lambda>,number_of_reviews_sum,area_km2_first,perc_licensed,avg_reviews_per_listing,density_listings_per_km2
0,Abrantes,46.080777,40.0,20.0,140.0,1134,266,2.842152,1.0,Private room,76541,2.700962,23.456790,67.496473,419.850360
1,Acacias,109.823529,99.0,29.0,1050.0,12264,7639,4.237361,2.0,Entire home/apt,2247135,1.855549,62.287997,183.230186,6609.366199
2,Adelfas,100.991585,104.0,23.0,480.0,3309,2263,2.903294,2.0,Entire home/apt,394674,1.106989,68.389241,119.272892,2989.188418
3,Aeropuerto,39.511076,40.0,32.0,300.0,1305,881,1.035249,1.0,Shared room,554271,43.472554,67.509579,424.728736,30.018941
4,Aguilas,64.195876,35.0,20.0,322.0,914,441,2.586433,1.0,Private room,73825,6.231718,48.249453,80.771335,146.669024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Valverde,76.772743,73.0,25.0,600.0,3048,1297,4.813648,2.0,Entire home/apt,321586,15.553768,42.552493,105.507218,195.965381
124,Ventas,126.012533,77.0,21.0,4950.0,9797,3068,3.582117,2.0,Entire home/apt,1471035,5.528100,31.315709,150.151577,1772.218304
125,Vinateros,66.635258,91.0,14.0,97.0,485,138,7.851546,3.0,Private room,30761,1.026194,28.453608,63.424742,472.620227
126,Vista Alegre,67.399000,63.0,15.0,800.0,5511,1015,6.898929,2.0,Entire home/apt,630851,2.743881,18.417710,114.471239,2008.468903
127,Zofío,76.000000,67.0,20.0,128.0,730,142,3.371233,2.0,Private room,41134,1.336232,19.452055,56.347945,546.312202

In [80]:
stats_geo = barrios.merge(stats, how='left', on="neighbourhood")
stats_geo.head()

,neighbourhood,neighbourhood_group,geometry,area_km2,price_mean,price_median,price_min,price_max,id_count,license_<lambda>,minimum_nights_mean,minimum_nights_median,room_type_<lambda>,number_of_reviews_sum,area_km2_first,perc_licensed,avg_reviews_per_listing,density_listings_per_km2
0,Palacio,Centro,"MULTIPOLYGON (((-3.70593 40.42029, -3.70634 40...",2.542264,157.633161,131.0,17.0,9999.0,131350,69172,6.038226,2.0,Entire home/apt,32215345,2.542264,52.662352,245.263380,51666.539795
1,Embajadores,Centro,"MULTIPOLYGON (((-3.70393 40.41431, -3.70286 40...",1.785424,133.928849,110.0,9.0,9999.0,192903,108616,4.711192,2.0,Entire home/apt,52736779,1.785424,56.306019,273.384960,108043.242552
2,Cortes,Centro,"MULTIPOLYGON (((-3.69805 40.41928, -3.69654 40...",1.023214,183.695784,143.0,27.0,4989.0,84651,60112,4.289908,2.0,Entire home/apt,21722463,1.023214,71.011565,256.612007,82730.467050
3,Justicia,Centro,"MULTIPOLYGON (((-3.69555 40.41897, -3.69654 40...",1.282770,176.693791,132.0,22.0,1500.0,72833,42356,5.204125,2.0,Entire home/apt,14983499,1.282770,58.154957,205.724040,56777.928034
4,Universidad,Centro,"MULTIPOLYGON (((-3.70117 40.42133, -3.70164 40...",1.638250,148.123341,123.0,12.0,23085.0,150039,83404,6.095842,2.0,Entire home/apt,39149458,1.638250,55.588214,260.928545,91584.943003

In [81]:
# save as geopackage file
stats_geo.to_file(os.path.join(folder,"airbnb_stats_neighbourhoods.gpkg"), layer='stats', driver="GPKG")